<div class="small-profile mb-4" *ngIf="user">
  <div class="profile-cover" [style.background-image]="user.coverUrl ? 'url(' + user.coverUrl + ')' : null"></div>

  <div class="profile-avatar">
    <img *ngIf="user.avatarUrl; else smallAvatarFallback"
       [src]="user.avatarUrl"
      alt="Profile Picture">
    <ng-template #smallAvatarFallback>
      <div class="profile-avatar-fallback"></div>
    </ng-template>
  </div>

  <h4 class="profile-name">{{ user.firstName }} {{ user.lastName }}</h4>
  <p class="profile-username">@{{ user.username }}</p>

  <div class="profile-stats">
    <div class="stat-item">
      <span class="stat-value">{{ user.followersCount }}</span>
      <span class="stat-label">Follwers</span>
    </div>
    <div class="stat-item">
      <span class="stat-value">{{ user.followingCount }}</span>
      <span class="stat-label">Following</span>
    </div>
  </div>
</div>
