<app-header (toggleRightSidebar)="toggleRightSidebar()" (toggleLeftSidebar)="toggleLeftSidebar()"></app-header>
<main class="main-container d-flex">
    <app-sidebar-right *ngIf="showUsersSidebar()" [isOpenInput]="isRightSidebarOpen()"></app-sidebar-right>

    <section class="content-area">
        <router-outlet></router-outlet>
    </section>

    <app-sidebar-left [isOpenInput]="isLeftSidebarOpen()"></app-sidebar-left>

    <!-- Overlay for mobile sidebar -->
    <div class="sidebar-overlay" *ngIf="showUsersSidebar() && (isRightSidebarOpen() || isLeftSidebarOpen()) && isMobile()" (click)="closeSidebars()"></div>
</main>
